absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1673535674859/work
aiofiles==23.2.1
aiohttp @ file:///croot/aiohttp_1670009560265/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
altair==5.0.1
anyio==3.7.1
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
asynctest==0.13.0
attrs @ file:///croot/attrs_1668696182826/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
blinker==1.4
blis==0.7.8
blobfile==2.0.2
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854164153/work
cachetools==5.3.1
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1661366519934/work
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
chumpy==0.70
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
confection==0.0.2
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1636040646098/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1649412169067/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
einops==0.6.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
exceptiongroup==1.2.0
fastapi==0.103.2
ffmpy==0.3.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec==2023.1.0
ftfy==6.1.1
gdown==4.7.1
google-auth==2.19.1
google-auth-oauthlib==0.4.6
gradio==3.34.0
gradio_client==0.2.6
grpcio==1.54.2
h11==0.14.0
h5py @ file:///tmp/abs_4aewd3wzey/croots/recipe/h5py_1659091371897/work
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata==5.0.0
importlib-resources==5.12.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jsonschema==4.17.3
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1653292039266/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
linkify-it-py==2.0.2
loralib==0.1.1
lxml==4.9.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
markdown-it-py==2.2.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737551960/work
matplotlib==3.1.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
multidict @ file:///croot/multidict_1665674239670/work
murmurhash==1.0.8
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
oauthlib==3.2.2
orjson==3.9.7
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.5
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1656568808184/work
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
preshed==3.0.7
protobuf==3.20.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodomex==3.15.0
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1636021129189/work
pydub==0.25.1
Pygments==2.17.2
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1663846997386/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyrsistent==0.19.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857264451/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0
regex==2022.9.13
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642601761909/work
scipy @ file:///opt/conda/conda-bld/scipy_1661390393401/work
semantic-version==2.10.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smplx==0.1.28
sniffio==1.3.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy @ file:///opt/conda/conda-bld/spacy_1656601313568/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1660748275723/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1661365735520/work
srsly==2.4.4
starlette==0.27.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit @ file:///home/builder/tkoch/workspace/tensorflow/tensorboard-plugin-wit_1658918494740/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorboardX==2.6
thinc==8.0.17
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toolz==0.12.0
torch==1.7.1
torch-tb-profiler==0.4.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
trimesh @ file:///home/conda/feedstock_root/build_artifacts/trimesh_1664841281434/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions==4.7.1
uc-micro-py==1.0.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
uvicorn==0.22.0
vector-quantize-pytorch==1.6.30
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1668249950899/work
wcwidth==0.2.5
websockets==11.0.3
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1676411946679/work
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
